<link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>

	<section id="cover">
		<div class="row-fluid">
			<div class="span12">
				<div id="main-slider" class="flexslider">
				  <ul class="slides">
					<% resource.images.each do |img| %>
						<li><%= image_fu(img, site.preferred_image_carousel_size) %></li>
					<% end %>
				  </ul>
				</div>
			</div>
		</div>
	</section><!-- Cover -->

<div class="container-fluid content">
	
	<section class="row-fluid three-column">
		<div class="span4 border summer-collection">
			<div class="inner-content collection">
				<div class="inner-text">
					<h3>Summer Collection</h3>
					<p><a href="#">Browse our catalog, include the famous Kimono</a></p>
					
				</div>
			</div>
		</div>
		<div class="span4 border shop">
				<div class="inner-text">
					<h3>The E-Boutique</h3>
					<p>Coming soon</p>
				</div>
		</div>
		<div class="span4 border">
			<div class="inner-content news">
				<div class="inner-text">
					<h3>News & Events</h3>
					<p>Fashion show on march 28th at Le <a href="#">Toiny Hotel</a> in St Barth - 2pm</p>
				</div>
			</div>
		</div>
	</section><!-- Newsletter -->
	<section id="spirit" class="row-fluid border spirit">
		<div class="span4 offset8 spirit-content">
			<h3>Esprit</h3>
			<p>La femme Lolita Jaca est une citoyenne du monde et la créatrice va chercher ses influences sur tous les continents. La collection ÉTÉ 2012 est un merveilleux voyage dans l'espace et dans le temps.</p><p>Au fil des différents thèmes de la Collection, on découvre des formes géométriques, des motifs floraux et orientaux d'une grande modernité graphique. Les associations de couleurs sont élégantes et audacieuses et déploient une palette chromatique très étendue. La très grande richesse de modèles, de matières et de finitions permet aux femmes Lolita Jaca d'avoir toujours une tenue adaptée au lieu et à l'occasion présente. C'est sans doute la véritable élégance.</p>
		</div>
	</section><!-- Spirit -->
	<section class="row-fluid border retailers">
		<div class="row-fluid">
			<div class="span12">
				<h3>Points de vente</h3>
			</div>
		</div>
		<div class="row-fluid">
	        <div class="span3">
	          <h6>Allemagne</h6>
	          <ul>
	            <li>Ansary Munich</li>
	          </ul>
	          <h6>Australie</h6>
	          <ul>
	            <li>Ivory Melbourne Australie</li>
	          </ul>
	          <h6>La Barbade</h6>
	          <ul>
	            <li>Beth and Tracie  St James</li>
	          </ul>
	          <h6>Emirats Arabes Unis</h6>
	          <ul>
	            <li>Aishti Dubai
	            </li><li>Hamac Dubai</li>
	          </ul>
	          <h6>Espagne</h6>
	          <ul>
	            <li>Blue Marin Calvia Baleares</li>
	            <li>the Beach Club Hotel Marbella</li>
	          </ul>
	         </div>
	         <div class="span3">
	          <h6>Etats Unis</h6>
	          <ul>
	            <li>Boheme Boutique Key Biscane Fl</li>
	            <li>Calypso Carousel Nassau Bahamas</li>
	            <li>Fontainebleau Resort Aventura Fl</li>
	            <li>Island Home Palm Beach Fl</li>
	            <li>Maddys 390 Greenvale Ny</li>
	            <li>Seesaw Tenafly Nj</li>
	          </ul>
	          <h6>France</h6>
	          <ul>
	            <li>Altea Boutique Bonifacio Corse</li>
	            <li>Boutique L Empreinte Juan Les Pins</li>
	            <li>Lulu Boutique Saint Tropez</li>
	            <li>Tahiti Boutique Ramatuelle</li>
	          </ul>
	          <h6>Grèce</h6> 
	            <ul>
	              <li>Soho Soho Athenes, Mykonos</li>
	            </ul>
	         </div>
	         <div class="span3">
	          <h6>Italie</h6>
	          <ul>
	            <li>115 Millchstrasse Livorno</li>
	            <li>L'ancora Porto Fino</li>
	            <li>Le Civette Porto Cervo</li>
	            <li>Gio Moretti Milan</li>
	            <li>Macrame Positano</li>
	            <li>Neglia Milan</li>
	            <li>Showroom Cataldo Battipaglia (Sa)</li>
	            <li>Jacqueline Bologne</li>
	          </ul>
	          <h6>Japon</h6>
	          <ul>
	            <li>Rrozestt Tokyo</li>
	          </ul>
	          <h6>Jordanie</h6>
	          <ul>
	            <li>Biba Boutique Amman</li>
	          </ul>
	        </div>
			<div class="span3">
	          <h6>Kuweit</h6>
	          <ul>
	            <li>Aishti Kuweit City
	          </li></ul>
	          <h6>Liban</h6>
	          <ul>
	            <li>Aishti Beirut
	          </li></ul>
	          <h6>Principaute De Monaco</h6>
	          <ul>
	            <li>Addict Monaco</li>
	          </ul>
	          <h6>Suisse</h6>
	          <ul>
	            <li>Best Corner  Gstaad</li>
	            <li>People Fashion Lounge Geneve  </li>
	          </ul>
	        </div>   
		</div>
	</section><!-- Retailers -->
	<section class="row-fluid border contact">
		<div class="span4  offset4  newsletter ">
			<h3>Newsletter</h3>
			<div class="input-append">
			  <input class="span2" id="appendedInputButton" type="text">
			  <button class="btn" type="button">Go!</button>
			</div>
		</div>
	    <div class="span4">
			<h3>Contact Boutique</h3>
			<p>Les Hauts du Carré d'Or<br>Gustavia . 97133 Saint-Barthélemy<br>(+59) 05 90 27 59<br>boutique@lolitajaca.com</p>
		</div>
	</section><!-- Contact -->
</div><!-- Conatiner -->